

.intro img {
    float: right;
    width: 400px;
    height: auto;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

.output {
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
}