body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: tan;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: PapayaWhip;
    border: solid 1px #333333;
    min-height: 80vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

img {
    width: 100% !important;
    height: auto !important;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.linkbox {
    padding: 10px;
    font-size: 80%;
}
.homelink {
    text-align: left;
}
.sourcelink {
    float: right;
}

.output-box {
    position: relative;
}

.hat-box {
    float: right;
    width: 400px;
}

#tail-box {
    position: absolute;
    top: 150px;
    right: 252px;
    width: 100px;
    transform: scaleX(-1);;
}

#output {
    position: absolute;
    right: 350px;
    padding: 50px;
    border-radius: 150px;
    border: solid 2px black;
    background-color: white;
    width: 500px;
}

.hidden {
    visibility: hidden;
}

.input-output {
    border: solid 1px #333333;
    padding: 10px 10px 30px;
}

.stage-direction {
    font-size: 80%;
    margin-top: 20px;
}

.credits {
    font-size: 60%;
    color: gray;
}
.credits a {
    text-decoration: inherit;
    color: inherit;
}
