input[type="number"] {
    width: 40px;
}
input[type="text"] {
    width: 100px;
}

input#max {
    width: 60px;
}

table {
    padding: 20px;
}

input, button {
    font-size: 90%;
}

div#input, div#output {
    border: solid 1px #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* this is to make the paragraphs in the output closer together */
#output p {
    margin-top: 0;
    margin-bottom: 0;
}

#output.cols {
    -webkit-column-width: 200px; /* Chrome, Safari, Opera */
    -moz-column-width: 200px; /* Firefox */
    column-width: 200px;
}

.error {
    color: red;
    font-weight: bold;
}

.green-button {
    background-color: #82c04b;
}

/* POP-UP STUFF */

#pop-up {
    width: 25vw;
    height: 25vh;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%,-50%);
    border: solid 2px black;
    z-index: 1000;
    background-color: white;
    /*display: none;*/
    transition: left 0.5s ease-in-out;
}   

.shown {
    /*display: block !important;*/
    left: 50% !important;
}

.pop-box {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*border: solid 1px blue;*/
}