
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-attachment: fixed; */
}

body {
  padding: 0;
  background-color: #24a396;
  background-image: linear-gradient(#24a396, #1c8075);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 20px 160px 100px 160px;
}

footer {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(jigsaw-left.png),
                    url(jigsaw-right.png),
                    url(jigsaw-bottom.png);
  background-position: left bottom, right bottom, bottom left;
  background-repeat: repeat-y, repeat-y, repeat-x;
  background-size: 1000px, 1000px, 1000px;
}
