
#wrapper .copyright {
    font-size: 0.8em;
    list-style: none;
}

html, body, #wrapper, #main, #main canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#main canvas {
	background: white;
}
